.product-form-container {
  max-width: 700px;
  margin: 20px auto;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 600;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.checkbox {
  display: flex;
  align-items: center;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}
.required {
  color: red;
  font-weight: bold;
  margin-left: 2px;
}

.error-input {
  border: 2px solid red !important;
}

.error-input:focus {
  border: 2px solid red !important;
  outline: none;
  box-shadow: 0 0 5px red;
}