.product-table thead {
  position: sticky;
  top: 0;
  z-index: 10;
}

.product-table thead th {
  background: #dff3f8;
}
.product-table th {
  cursor: pointer;
  user-select: none;
}

.sort-icon {
  margin-left: 5px;
  font-size: 12px;
}

.product-container {
  width: 100%;
  overflow-x: auto;
}
.page-subtitle {
    margin-top: 6px;
    color: #64748b;
    font-size: 14px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.page-title {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #06b6d4;
}


.add-product-btn {
    background: #06b6d4;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}

.add-product-btn:hover {
    background: #06b6d4;
}

.product-table th,
.product-table td {
  padding: 14px;
  text-align: left;
  border-bottom: 1px solid #eee;
}

.product-table tbody tr:hover {
  background: #f8fcfd;
}

.no-data {
    text-align: center;
    font-weight: 600;
    padding: 20px;
}

.edit-btn {
    background: #198754;
    color: white;
    border: none;
    padding: 6px 12px;
    margin-right: 5px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn {
    background: #dc3545;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.icon-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    margin-right: 8px;
    padding: 4px;
}

.delete-icon {
    color: #d13438;
}

.delete-icon:hover {
    color: #a4262c;
}

.edit-icon {
    color: #06b6d4;
}

.edit-icon:hover {
    color: #06b6d4;
}

.icon-btn svg {
    width: 18px;
    height: 18px;
}
.search-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-section input {
  width: 250px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.table-container {
    overflow-x: auto;
}

.search-label {
    font-weight: 600;
    color: #334155;

}
/* .table-container {
  max-height: 500px;
  overflow: auto;
  border-radius: 8px;
} */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
}

.pagination button {
  padding: 8px 16px;
  border: none;
  background: #27b3d3;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

